.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  min-height: 70vh;
}
.auth h1 {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 20px;
}

.auth button {
  font-size: 15px;
  font-weight: 400;
  width: 400px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  outline: none;
}

.auth a {
  text-decoration: none;
  color: inherit;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}
.auth a:visited {
  color: inherit;
}

.or {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.or hr {
  width: 46.5%;
}
