#google-button {
  width: 405px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  margin-top: 10px;
}

#google-button div {
  width: 12%;
  height: 40px;
  background-color: #fff;
  padding-left: 0;
}

#google-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#google-button span {
  width: 88%;
  height: 100%;
  background-color: #4081ec;
  color: #fff;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2;
  line-height: 1.7;
}

@media only screen and (max-width: 1000px) {
  #google-button {
    width: 95vw;
    height: 150px;
  }

  #google-button div {
    width: 20%;
    height: 150px;
  }
  #google-button span {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    letter-spacing: 2;
    line-height: 1.7;
  }
}
